body {
  background-color: rgb(103, 0, 117);
  width: 1920px;
  height: 1080px;
}

#catPic {
  height: 100vh;
  position: absolute;
  top: 33%;
  left: 13%;
}

.catImg{
  max-width: 45%;
}

#dogPic {
  height: 100vh;
  position: absolute;
  top: 33%;
  left: 70%;
}

.dogImg{
  max-width: 70%;
}

#container{
  height: 100vh;
  position: absolute;
  top: 20%;
  left: 35%;
}

.containerImg{
  max-width: 70%;
}

.unselectable {
  /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
  /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;
}
