body {
  background-color: rgb(103, 0, 117);
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#halal { 
  cursor:move;
  order: 1;
  max-width: 20%;
  /* background-color: red; */
}
#kepala { 
  cursor:move;
  order: 3;
  max-width: 20%;
  /* background-color: green; */
}
#tempat { 
  /* cursor:move; */
  margin: 0px 10%;
  order: 2;
  max-width: 20%;
  /* background-color: blue; */
}
#nopad{
  /* background-color: red; */
  margin:0;
  padding:0;
}
#clickAction{
  /* background:red; */
  /* border-radius:3px; */
  /* color:white; */
  cursor:pointer;
  /* padding:1em;  */
}
/* #clickAction.blue{
  background:blue;
} */

/* .item2 {
  flex-grow: 2; 
} */

/* .item1 {
  flex-grow: 1;
} */
/* .imgSize{
  object-fit: contain;
} */
/* .imgTempatSize{
  max-width: 300px;
} */

img {
  width: 100%; 
  height: auto;
  object-fit: contain;
}